.menu-container {
  background-color: black;
  border-radius: 1.25rem;
  padding: 2rem;
  column-gap: 2rem;
  position: relative;
}

.mobile-menu-container {
  display: none;
}

.menu-logo {
  text-align: left;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.7rem;
}

.menu-item {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  gap: 1rem;
}

.menu-bottom {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.menu-bottom-item {
  color: white;
  font-weight: normal;
  gap: 0.7rem;
}

.mobile-close-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu-container {
    padding: 1rem;
  }

  .menu {
    justify-content: center;
    align-items: center;
  }

  .menu-link {
    display: none;
  }

  .menu-icon {
    font-size: 1.2rem;
  }

  .menu-logo {
    display: none;
  }

  .menu-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .mobile-menu-container {
    display: block;
    background-color: black;
    position: absolute;
    z-index: 9;
    width: 65%;
    height: 100vh;
    padding: 2rem;
    column-gap: 2rem;
  }

  .menu {
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }

  .menu-link {
    display: block;
    transition: all 0.25s;
  }

  .menu-logo {
    display: block;
  }

  .menu-bottom {
    display: block;
    bottom: 4rem;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }

  .mobile-close-icon {
    display: block;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}
