.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 1.5rem;
}

.dashboard-glass-container {
  display: grid;
  grid-template-columns: 18% auto;
  overflow: hidden;
  gap: 3.785rem;
}

.dashboard-right-side {
  margin-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard-container::-webkit-scrollbar {
  width: 0.3em;
  height: 100px;
}

.dashboard-container::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
}

.dashboard-right-side::-webkit-scrollbar {
  width: 0.3em;
  height: 100px;
}

.dashboard-right-side::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
}

@media screen and (max-width: 1200px) {
  .dashboard-glass-container {
    grid-template-columns: 10% auto;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-glass-container {
    grid-template-columns: auto;
  }
  .dashboard-container {
    padding: 0;
  }
}
